<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>맛집 - 이메일 인증</title>
    <script th:if="${result != null && result.equals('FAILURE')}">
        alert('올바르지 않은 접근이거나 더 이상 유효하지 않은 접근입니다.');
    </script>
    <script th:if="${result != null && result.equals('FAILURE_EXPIRED')}">
        alert('링크가 만료되어 더 이상 유효하지 않습니다.');
    </script>
    <script th:if="${result != null && result.equals('SUCCESS')}">
        alert('이메일이 정상적으로 인증되었습니다. ');
    </script>
    <script>
        window.close();
    </script>
</head>

</html>