<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>맛집 - 비밀번호 재설정</title>
  <script th:if="${result == null}">
    alert('올바르지 않은 접근입니다.');
    window.close();
  </script>
  <script th:if="${result != null && result.equals('failure')}">
    alert('올바르지 않은 접근입니다.');
    window.close();
  </script>
  <script th:if="${result != null && result.equals('failure_expired')}">
    alert('해당 인증 링크는 더 이상 유효하지 않습니다.');
    window.close();
  </script>
  <script defer th:src="@{/user/resources/scripts/recoverPassword.js}"></script>
</head>
<body th:if="${result != null}">
<b>새 비번</b>
<form id="recoverForm">
  <input hidden name="email" type="hidden" th:value="${recoverEmailCode.getEmail()}">
  <input hidden name="code" type="hidden" th:value="${recoverEmailCode.getCode()}">
  <input hidden name="salt" type="hidden" th:value="${recoverEmailCode.getSalt()}">
  <label class="label">
    <input autofocus class="_object-input" maxlength="100" name="password" placeholder="새로운 비밀번호를 입력해 주세요." type="password">
  </label>
  <label class="label">
    <input class="_object-input" maxlength="100" name="passwordCheck" placeholder="비밀번호를 한번 더 입력해 주세요." type="password">
  </label>
  <input class="_object-button" type="submit" value="비밀번호 수정">
</form>
</body>
</html>