<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>맛을 담다 - 맛집</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
    <link rel="shortcut icon" th:href="@{/resources/images/shortcut_icon.png}">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=71fc87fcfe529918b095ec79a528be16&libraries=services,clusterer,drawing"></script>
    <script src="https://kit.fontawesome.com/5373aba15d.js" crossorigin="anonymous"></script>
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/resources/scripts/index.add.js}"></script>
    <script defer th:src="@{/resources/scripts/index.login.js}"></script>
    <script defer th:src="@{/resources/scripts/index.map.js}"></script>
    <script defer th:src="@{/resources/scripts/index.place.js}"></script>
    <script defer th:src="@{/resources/scripts/index.recover.js}"></script>
    <script defer th:src="@{/resources/scripts/index.register.js}"></script>
    <script defer th:src="@{/resources/scripts/index.js}"></script>
</head>
<body>
<div id="loading" class="visible">
    <img alt="" class="logo" th:src="@{/resources/images/shortcut_icon.png}">
</div>
<div id="cover"></div>
<form id="loginForm">
    <h2 class="title">로그인</h2>
    <label class="label">
        <input class="_object-input input" maxlength="50" name="email" placeholder="이메일 주소" type="email">
    </label>
    <span class="warning email" rel="emailWarning">올바른 이메일을 입력해 주세요.</span>
    <label class="label">
        <input class="_object-input input" maxlength="50" name="password" placeholder="비밀번호" type="password">
    </label>
    <span class="warning password" rel="passwordWarning">올바른 비밀번호를 입력해 주세요.</span>
    <span class="warning login" rel="loginWarning">이메일 혹은 비밀번호가 올바르지 않습니다.</span>
    <label class="_object-check-wrapper">
        <input class="_check-input" name="rememberEmail" type="checkbox">
        <span class="_check-toggle"></span>
        <span class="_check-text">이메일을 기억합니다.</span>
    </label>
    <div class="button-container">
        <input class="_object-button" name="cancel" type="button" value="취소" data-method="hideLogin">
        <input class="_object-button _color-concept" type="submit" value="로그인">
    </div>
    <ul class="menu">
        <li class="item">
            <span class="text">아직 계정이 없으신가요?</span>
            <a class="link" href="#" data-action="showRegister">회원가입</a>
        </li>
        <li class="item">
            <span class="text">이메일 혹은 비밀번호를 분실하셨나요?</span>
            <a class="link" href="#" data-action="showRecover">계정 복구</a>
        </li>
    </ul>
</form>
<form id="registerForm">
    <section class="section step-1">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">서비스 이용약관 및 개인정보 처리방침</h3>
        </div>
        <div class="content-container">
            <label class="label term-container">
                <textarea readonly class="_object-input term">서비스 이용 약관</textarea>
            </label>
            <label class="_object-check-wrapper">
                <input class="_check-input" name="agreeServiceTerm" type="checkbox">
                <span class="_check-toggle"></span>
                <span class="text">위 서비스 이용약관을 읽어보았고 이해하였으며 동의합니다.</span>
            </label>
            <label class="label term-container">
                <textarea readonly class="_object-input term">개인정보 처리방침</textarea>
            </label>
            <label class="_object-check-wrapper">
                <input class="_check-input" name="agreePrivacyTerm" type="checkbox">
                <span class="_check-toggle"></span>
                <span class="text">위 개인정보 처리방침을 읽어보았고 이해하였으며 동의합니다.</span>
            </label>
            <span class="warning term" rel="termWarning"></span>
        </div>
        <div class="button-container">
            <input class="_object-button" name="cancel" type="button" value="취소">
            <input class="_object-button _color-concept" type="submit" value="다음">
        </div>
    </section>
    <section class="section step-2">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">개인정보 입력</h3>
        </div>
        <div class="content-container">
            <label class="label">
                <input class="_object-input" maxlength="50" name="email" placeholder="이메일" type="email">
            </label>
            <span class="warning email" rel="emailWarning"></span>
            <label class="label">
                <input class="_object-input" maxlength="50" name="password" placeholder="비밀번호 (8자 이상 50자 이하)"
                       type="password">
            </label>
            <label class="label">
                <input class="_object-input" maxlength="50" name="passwordCheck" placeholder="비밀번호 확인" type="password">
            </label>
            <span class="warning password" rel="passwordWarning"></span>
            <label class="label">
                <input class="_object-input" maxlength="10" name="nickname" placeholder="별명 (2자 이상 10자 이하 완성 한글)"
                       type="text">
            </label>
            <span class="warning nickname" rel="nicknameWarning"></span>
            <label class="label">
                <input class="_object-input" maxlength="12" name="contact" placeholder="연락처 ('-' 없이 입력)" type="text">
                <input class="_object-button" name="contactSend" type="button" value="인증번호 전송">
            </label>
            <label class="label">
                <input disabled class="_object-input" maxlength="6" name="contactCode" placeholder="인증번호" type="text">
                <input disabled class="_object-button" name="contactVerify" type="button" value="인증번호 확인">
            </label>
            <input hidden name="contactSalt" type="hidden">
            <span class="warning contact" rel="contactWarning"></span>
        </div>
        <div class="button-container">
            <input class="_object-button" name="cancel" type="button" value="취소">
            <input class="_object-button _color-concept" type="submit" value="다음">
        </div>
    </section>
    <section class="section step-3">
        <div class="title-container">
            <h2 class="title">회원가입</h2>
            <h3 class="subtitle">회원가입 완료</h3>
        </div>
        <div class="content-container">입력하신 이메일로 계정 인증을 위한 링크가 담긴 메일을 전송하였습니다. 이메일 인증을 완료한 후 로그인 및 서비스 이용이
            가능합니다.<br><br>전송된 링크는 1시간 동안 유효함으로 유의해주시기 바랍니다.
        </div>
        <div class="button-container">
            <input class="_object-button _color-concept" type="submit" value="완료">
        </div>
    </section>
</form>
<form id="recoverForm">
    <h2 class="title">계정 복구</h2>
    <div class="option-container">
        <label class="label email">
            <input checked class="option" name="option" type="radio" value="email">
            <span class="text">이메일 찾기</span>
        </label>
        <label class="label password">
            <input class="option" name="option" type="radio" value="password">
            <span class="text">비밀번호 재설정</span>
        </label>
    </div>
    <div class="field email-container">
        <label class="label">
            <input class="_object-input" maxlength="12" name="eContact" placeholder="연락처 ('-' 없이 입력)" type="text">
            <input class="_object-button" name="eContactSend" type="button" value="인증번호 전송">
        </label>
        <label class="label">
            <input disabled class="_object-input" maxlength="6" name="eContactCode" placeholder="인증번호" type="text">
            <input disabled class="_object-button" name="eContactVerify" type="button" value="인증번호 확인">
        </label>
        <input hidden name="eContactSalt" type="hidden">
    </div>
    <div class="field password-container">
        <label class="label">
            <input class="_object-input" maxlength="50" name="pEmail" placeholder="이메일 주소" type="email">
        </label>
    </div>
    <span class="warning" rel="warning"></span>
    <div class="button-container">
        <input class="_object-button" name="cancel" type="button" value="취소">
        <input class="_object-button _color-concept" type="submit" value="다음">
    </div>
</form>
<form id="addForm">
    <h2 class="title">맛집 추가</h2>
    <div class="box fundamental">
        <h3 class="title">기본 정보</h3>
        <label class="label">
            <input class="_object-input" maxlength="50" name="name" placeholder="맛집 이름" type="text">
        </label>
        <label class="label contact-container">
            <select class="_object-input" name="contactFirst">
                <option disabled hidden selected value="">지역번호</option>
                <option value="02">(02) 서울</option>
                <option value="031">(031) 경기도</option>
                <option value="032">(032) 인천광역시, 부천시</option>
                <option value="033">(033) 강원도</option>
                <option value="041">(041) 충청남도</option>
                <option value="042">(042) 대전광역시, 계룡시</option>
                <option value="043">(043) 충청북도</option>
                <option value="044">(044) 세종특별자치시</option>
                <option value="051">(051) 부산광역시</option>
                <option value="052">(052) 울산광역시</option>
                <option value="053">(053) 대구광역시</option>
                <option value="054">(054) 경상북도</option>
                <option value="055">(055) 경상남도</option>
                <option value="061">(061) 전라남도</option>
                <option value="062">(062) 광주광역시</option>
                <option value="063">(063) 전라북도</option>
                <option value="064">(064) 제주특별자치도</option>
            </select>
            <input class="_object-input" maxlength="4" name="contactSecond" placeholder="연락처" type="text">
            <input class="_object-input" maxlength="4" name="contactThird" placeholder="연락처" type="text">
        </label>
        <label class="label description">
            <textarea class="_object-input" name="description" placeholder="맛집 설명을 입력해 주세요."></textarea>
        </label>
        <div class="coords-container">
            <span class="message">우측 지도의 중심을 맛집 위치로 움직여 주세요.</span>
            <input readonly class="_object-input" maxlength="50" name="lat" placeholder="경도" type="text">
            </label>
            <label class="label">
                <input readonly class="_object-input" maxlength="50" name="lng" placeholder="위도" type="text">
            </label>
        </div>
        <div class="address-container">
            <span class="message">기본 주소는 자동으로 완성됩니다.</span>
            <label class="label">
                <input readonly class="_object-input" maxlength="100" name="addressPrimary" placeholder="기본 주소"
                       type="text">
            </label>
            <label class="label">
                <input class="_object-input" maxlength="100" name="addressSecondary" placeholder="상세 주소" type="text">
            </label>
        </div>
    </div>
    <div class="box thumbnail">
        <h3 class="title">대표 이미지</h3>
        <div class="preview" rel="thumbnailPreview">
            <span class="empty visible" rel="emptyThumbnail">대표 이미지를 선택해 주세요.</span>
        </div>
        <input accept="image/*" name="thumbnail" type="file">
        <!--        // accept="image/*" 모든이미지를 받아들임-->
    </div>
    <div class="box time">
        <h3 class="title">영업 시간</h3>
        <table class="time-table">
            <thead>
            <tr>
                <th>요일</th>
                <th>오픈</th>
                <th>마감</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opSun" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">일</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openSun" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeSun" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opMon" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">월</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openMon" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeMon" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opTue" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">화</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openTue" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeTue" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opWed" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">수</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openWed" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeWed" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opThu" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">목</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openThu" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeThu" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opFri" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">금</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openFri" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeFri" type="time">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="_object-check-wrapper">
                        <input checked class="_check-input" name="opSat" type="checkbox">
                        <span class="_check-toggle"></span>
                        <span class="text">토</span>
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="openSat" type="time">
                    </label>
                </td>
                <td>
                    <label class="label">
                        <input class="_object-input" name="closeSat" type="time">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <input class="button" name="cancel" type="button" value="취소">
        <input class="button" type="submit" value="추가">
    </div>
</form>
<ul id="menu">
    <li class="item logo-container">
        <img alt="" class="logo" th:src="@{/resources/images/shortcut_icon.png}">
    </li>
    <li class="item link selected">
        <img alt="" class="icon" th:src="@{/resources/images/menu-main.png}">
        <span class="text">맛집</span>
    </li>
    <li class="item link">
        <img alt="" class="icon" th:src="@{/resources/images/menu-favorite.png}">
        <span class="text">즐겨찾기</span>
    </li>
    <li class="stretch"></li>
    <li class="item link" data-action="showLogin" th:if="${session.user == null}">
        <img alt="" class="icon" th:src="@{/resources/images/menu-login.png}">
        <span class="text">로그인</span>
    </li>
    <li class="item link" data-action="logout" th:if="${session.user != null}">
        <img alt="" class="icon" th:src="@{/resources/images/menu-logout.png}">
        <span class="text">로그아웃</span>
    </li>
    <li class="item link" th:if="${session.user != null}">
        <img alt="" class="icon" th:src="@{/resources/images/menu-my.png}">
        <span class="text">마이페이지</span>
    </li>
</ul>
<section id="list">
    <form class="search-form">
        <label class="label">
            <img alt="" class="icon" th:src="@{/resources/images/list.search-form.icon.png}">
            <input class="input" maxlength="50" placeholder="식당 검색" type="text">
        </label>
    </form>
    <div class="address-container">
        <span class="text gu" rel="addressGu">중구</span>
        <span class="text dong" rel="addressDong">성내1동</span>
    </div>
    <ul class="list" id="placeList">
        <ul class="control" th:if="${session.user != null}">
            <li class="item" id="addMatzip">추가</li>
        </ul>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
        <li class="item">
            <div class="spec-container">
                <div class="name-container">
                    <span class="name">용정반점</span>
                    <span class="category">중화음식</span>
                </div>
                <div class="op-container">
                    <span class="op-flag">영업 중</span>
                    <span class="op-time">20:00에 영업 종료</span>
                </div>
                <div class="address-container">
                    <span class="address">대구 중구 덕산동</span>
                </div>
            </div>
            <div class="image-container">
                <img alt="" class="image"
                     src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDhfMTc0/MDAxNTQ0MjM4MTQ5MDQ2.AMnM0wh58PwdAPC4Wk5k1IGlBD6eH1loUgSRorMiFl0g.eHQmfl0gLlfiN4i-FjfA8XJI2aldGUaImxlAaYyyxi8g.JPEG.engh1698/2018-12-06-12-50-32.jpg?type=w800">
                <span class="count">4</span>
            </div>
        </li>
    </ul>
</section>
<section id="detail" class="visible">
    <div class="close" id="detailClose">

    </div>
    <img alt="" class="thumbnail"
         src="https://ichef.bbci.co.uk/news/640/cpsprodpb/E172/production/_126241775_getty_cats.png" rel="thumbnail">
    <div class="head">
        <span class="name" rel="name">용정반점</span>
        <span class="rating-container">
            <i class="fa-solid fa-star"></i>
            <span class="rating">4.65</span>
            <span class="full">/5</span>
        </span>
        <ul class="menu">
            <li class="item">
                <i class="fa-regular fa-bookmark"></i>
                <span class="text">저장</span>
            </li>
            <li class="item">
                <i class="fa-regular fa-heart"></i>
                <span class="text">좋아요</span>
            </li>
        </ul>
    </div>
    <ul class="body">
        <li class="item">
            <i class="fa-solid fa-phone"></i>
            <span class="text" rel="contact">053-1234-5678</span>
        </li>
        <li class="item">
            <i class="fa-solid fa-location-dot"></i>
            <span class="text" rel="address">대구광역시 중구 중앙대로 366 10층</span>
        </li>
        <li class="item">
            <i class="fa-regular fa-file-lines"></i>
            <span class="text" rel="description">우리집 고양이 츄르를 좋아해</span>
        </li>
    </ul>
    <table class="time" rel="time">
        <thead>
        <tr>
            <th></th>
            <th>오픈</th>
            <th>마감</th>
        </tr>
        </thead>
        <tbody>
        <tr class="sun" data-day="Sun">
            <th>일</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr>
        <tr data-day="Mon">
            <th>월</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr>
        <tr data-day="Tue">
            <th>화</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr >
        <tr class="off" data-day="Wed">
            <th>수</th>
            <td colspan="2">휴업</td>
        </tr>
        <tr data-day="Thu">
            <th>목</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr>
        <tr data-day="Fri">
            <th>금</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr>
        <tr class="sat" data-day="Sat">
            <th>토</th>
            <td>09:00</td>
            <td>22:00</td>
        </tr>


        </tbody>
    </table>

</section>
<section id="map">
    <div rel="pin"></div>
    <div rel="pinEffect"></div>
    <div rel="pinEffect"></div>
    <div rel="cover"></div>
</section>
</body>
</html>







